<!-- <?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context-4.0.xsd"
	default-lazy-init="true">
	
	  7.1 这里配置我们自定义的缓存管理器
    <bean id="customCacheManager" class="com.ssm.util.redisUtil"/>
    
    <bean id="UserRealm" class="com.ssm.util.UserRealm"/>
	<bean id="sessionManager" class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">
	    session的失效时长，单位毫秒
	    <property name="globalSessionTimeout" value="1000"/>
	      删除失效的session
	      <property name="deleteInvalidSessions" value="true"/> 
	 </bean>
	  <bean id="rememberMeManager" class="org.apache.shiro.web.mgt.CookieRememberMeManager">
        rememberMe cookie加密的密钥 建议每个项目都不一样 默认AES算法 密钥长度（128 256 512 位）
        <property name="cipherKey"
                  value="#{T(org.apache.shiro.codec.Base64).decode('3AvVhmFLUs0KTA3Kprsdag==')}"/>
        <property name="cookie" ref="rememberMeCookie"/>
    </bean> 
    用户信息记住我功能的相关配置
    <bean id="rememberMeCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
        <constructor-arg value="v_v-re-baidu"/>
        <property name="httpOnly" value="true"/>
        配置存储rememberMe Cookie的domain为 一级域名
        <property name="domain" value=".itboy.net"/>
        
        <property name="maxAge" value="10"/>30天时间，记住我30天
    </bean>
	
	
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="realm" ref="UserRealm"/>
		  <property name="sessionManager" ref="sessionManager"/>
		  <property name="rememberMeManager" ref="rememberMeManager"/>
	</bean>
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		 <property name="securityManager" ref="securityManager"/>
		<property name="loginUrl" value="/login.html" />
        <property name="successUrl" value="/success.html" />
        <property name="unauthorizedUrl" value="/error.html" />
		<property name="filterChainDefinitions" >
            <value>
              /guo/success.html=authc,roles[admin]
        	  /guo/login=anon
            </value>
        </property>
	</bean>
	 <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor" />
</beans>  -->